name: ci

on: pull_request
jobs: 
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        python-version: ['3.10', '3.11']
      
    steps:

      - name: Download repo
        uses: actions/checkout@v4

      - name: Download Python with different versions
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}

      - name: Install dependencies
        run: pip install -r dev-requirements.txt 
      
      - name: Test schema in
        run: pytest tests/test_schema_in.py 
              
      - name: Test schema out
        run: pytest tests/test_schema_out.py 